src/main/resources/Company.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Company">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element name="Address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="city"/>
                            <xs:element type="xs:string" name="street"/>
                            <xs:element type="xs:byte" name="number"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Departments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Department">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="number"/>
                                        <xs:element name="Employees">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                                <xs:element type="xs:byte" name="age"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:string" name="surname"/>
                                                                <xs:element type="xs:string" name="email"/>
                                                                <xs:element type="xs:date" name="dateOfBirth"/>
                                                                <xs:element type="xs:string" name="EmployeeType"/>
                                                                <xs:element type="xs:string" name="WorksOnProject"/>
                                                                <xs:element name="tasks">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="task">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="name"/>
                                                                                        <xs:element type="xs:dateTime" name="startTime"/>
                                                                                        <xs:element type="xs:dateTime" name="endTime"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:date" name="eateOfBirth"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Projects">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="project">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element name="tasks">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="task" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="name"/>
                                                                                        <xs:element type="xs:dateTime" name="startTime"/>
                                                                                        <xs:element type="xs:dateTime" name="endTime"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" name="finished"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:byte" name="id"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>